@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: 'Franklin Gothic URW', 'Franklin Gothic Heavy', 'Franklin Gothic', 'Arial Black', sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }
}

body { 
  @apply bg-white text-gray-900; 
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

#app {
  margin: 0;
  padding: 0;
  max-width: 100%;
  overflow-x: hidden;
}

* {
  font-family: 'Franklin Gothic URW', 'Franklin Gothic Heavy', 'Franklin Gothic', 'Arial Black', sans-serif;
}